<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}

    <h1>Weather App</h1>

    <form action="">
        <input type="text" name="name">
        <input type="submit" value="Search">
     </form>
        <br>
        <hr>

    {% for i in city_data %}
    {{i.city.name}} <br>    
    {{i.desc}} <br> 
    <img src="http://openweathermap.org/img/wn/{{i.icon}}.png" alt="icon">
    <p>{{i.temp}}&#8451;</p> <br>
    <hr>
    <button>
        <a href="{% url 'delete' i.city.id %}">DELETE</a>
    </button>
    {% endfor %}

</body>
</html>